.main_banner_txt {
    width: 100%;
    position: relative;
    background: #000;
    color: #fff;
    padding: 40px 80px;
    box-sizing: border-box;
}

.main_banner_txt h3 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.2;
}

.main_banner_txt h3 span {
    font-weight: bold;
    color: #ff7a40;
}

.main_banner_txt p.p1 {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 300;
}

.main_banner_txt p.p2 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
    color: #ccc;
    margin-bottom: 20px;
}

.main_banner_txt p.p3 {
    font-size: 32px;
    color: #ccc;
}

.main_banner_txt p.p3 span {
    font-size: 40px;
    color: #fff;
}

*{margin: 0; padding: 0;}
      .main_banner{width:100%; position:relative;}
      .main_banner .sub_banner_con{width:100%; display:table;}
      .main_banner01{width:50%; display: table-cell; vertical-align: middle}
      .main_banner01 img{width:100%; vertical-align: middle}
      .main_banner02{width:50%; text-align:center; background-color:#e4c1bf; display: table-cell; position: relative; vertical-align: middle}
      .banner02_txt{padding:30px 0; width: 100%; text-align: center;}
      .banner02_txt h1{font-size:22px; color:#fff; font-weight:300;}
      .banner02_txt h1 span{font-weight:500; color:#b75956;}
      .stick{width:42px; height:1px; background-color:#fff; display:inline-block; margin-top:20px; margin-bottom:20px;}
      .banner02_txt p{font-size:18px; color:#fff; font-weight:300; }
.banner02_txt p span{color:#b75956; font-weight:500;}
.company_box{width:100%;  position:relative; margin-top:30px; display:inline-block;}
.company_box .company_con{width:100%;}
.about_us{width:50%; height:300px; display:inline-block; background-image:url(../img/about.png); float:left;}
.about_us a{width:100%; text-align:center; display:inline-block; margin-top:50px;}
.about_txt{margin-top:50px; border-bottom:1px solid #fff; width:90%; margin:0 auto;}
.about_txt p{font-size:16px; color:#d8908e; font-weight:300;}
.about_txt h4{font-size:20px; color:#fff; font-weight:400; padding:10px;}
.about_txt2{font-size:16px; color:#fff; font-weight:300; padding:20px;}
.partner{width:50%; height:300px; display:inline-block; background-image:url(../img/creq.png); float:right;}
.partner a{width:100%; text-align:center; display:inline-block; margin-top:50px;}
.product_05{width:100%; background-color:#f3f3f3; padding:30px 0;}
.product_box{width:100%; display:inline-block; text-align:center;}
.product_box .product_con{padding:20px 0;}
.product_con ul{}
.product_con ul li{width:15%; display:inline-block; margin-bottom:30px;}
.icon{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon10.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.box_txt{width:100%; display:inline-block; text-align:center; margin-top:10px;}
.box_txt b{font-size:18px; color:#505050; font-weight:300;}
.box_txt p{font-size:18px; color:#505050; font-weight:300;}
.icon01{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon02.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon02{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon03.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon03{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon04.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon04{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon05.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon05{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon06.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon06{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon07.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon07{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon08.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon08{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon09.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon09{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon01.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon10{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon11.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon11{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon12.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon12{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon13.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon13{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon14.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.icon14{width:100px; height:100px; border-radius:80px; background-color:#fff; background-image:url(../img/icon15.png); background-repeat:no-repeat; background-position:center; margin:0 auto;}
.content{width:100%; display:inline-block; padding:80px 0;}
.content_02{width:100%;}
.content_02 ul{}
.content_02 ul li{width:390px; display:inline-block; margin-left:20px;}
.con_box{}
.con_box02{width:100%;  display:inline-block;}
.contect_img{width:100%;}
.contect_img img{width:100%;}
.contect_txt{width:100%; background-color:#eee; display:inline-block; text-align:center;}
.contect_txt h2{font-size:20px; font-weight:500; padding:10px 0;}
.contect_txt p{font-size:18px; font-weight:300; margin-bottom:10px; }
.contect_txt a{font-size:14px; padding:10px 30px; background-color:#ec924d; color:#fff; border-radius:20px; display:inline-block; margin-bottom:20px;}
.last_ctag{width:100%; padding:80px 0;}
.ctag_con{width:24%; display:inline-block; margin-left:5px;}
.ctag_con .ctag_img{width:100%; background-color:#eee;}
.ctag_img img{width:100%;}
.catg_txt{background-color:#eee; text-align:center; padding:20px;}
.catg_txt h2{font-size:16px; font-weight:500;}
.catg_txt p{font-size:14px; font-weight:300; margin-bottom:10px;}
.catg_txt a{font-size:14px; padding:10px 30px; background-color:#d8908e; color:#fff; border-radius:20px; display:inline-block;}
.con_02{width:98%; margin-left:auto; margin-right:auto; padding:40px 0; text-align:center;}
.con_02 h2{font-size:20px; margin-bottom:15px;}
.con_02 p{font-size:24px; font-weight:300; display:inline;}
.partner_con{padding:40px 0; width:100%; display:inline-block;}
.partner_con .p_box{width:100%; display:inline-block;}
.p_box .p_box_img{width:49%; display:inline-block; float:left;}
.p_box_img img{width:100%;}
.p_box_txt{width:50%; display:inline-block; float:right;}
.p_box_txt02{border-bottom:1px solid #dedede; padding:10px 0;}
.p_box_txt02 p{font-size:20px; font-weight:300; color:#6d6d6d; padding:10px;}
.p_box_txt02:nth-of-type(4){border-bottom:0;}
.branch_box{padding:40px 0; display:inline-block; width:100%;}
.branch_box .branch_con{width:12%; display:inline-block; border:1px solid #eee; padding:20px; margin-left:10px; margin-bottom:10px; border-radius:10px; background-color:#d8908e;}
.branch_con .branch_txt{width:100%;  text-align:center; overflow:hidden;}
.branch_txt h2{font-size:20px; font-weight:500; display:block; color:#fff;}
.branch_txt img{margin-top:60px; width:100%;}


.company .h2_txt,
.company .h2_txt > span {
    color: rgb(255, 255, 255, 0.7);
}

.company .h2_txt h2 span {
    color: #fff;
}

.company .h2_txt p {
    background: rgb(255, 255, 255, 0.2);
}

.company {
    width: 100%;
    padding: 100px 20px;
    box-sizing: border-box;
    background-image: url(../img/main_company_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.company .con {
    width: 98%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    color: #fff;
}

.company .con p {
    font-size: 24px;
    text-decoration-line: underline;
    color: #ff7a40;
    margin-bottom: 20px;
}

.company .con h3 {
    font-size: 24px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 6px 10px 10px;
    box-sizing: border-box;
    background: #000;
    font-weight: 400;
}

.company .con span {
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.product .img {
    width: 98%;
    margin: 0 auto;
    margin-top: 30px;
}

.product .img img {
    width: 100%;
}

.product ul {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.product ul li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #f8f8f8;
}

.product ul li h3 {
    font-size: 24px;
}

.product ul li h3 span {
    color: #ec924d;
    border-bottom: 4px solid #ec924d;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
}

.product ul li > span {
    font-size: 16px;
}

.program ul {
     width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.program ul li {
    width : 25%;
    float: left;
    text-align: center;
    color: #000;
    
}

.program ul li .img {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}
.sub_banner {
    padding: 30px 0;
    background-image: url(../img/sub_banner_bg.png);
    background-size: cover;
    background-position: center top;
    color: #000;
}

.sub_banner .h2_txt h2 {
    font-weight: 300;
    margin-bottom: 4px;
    color:#fff;
    font-size:18px;
}

.sub_banner .h2_txt h2 span {
    color: #000;
    font-weight: bold;
}

.sub_banner .h2_txt > span {
    color: #fff;
    font-weight: 500;
    font-size:22px;
}

section.sub_banner2 {
    padding: 10px;
    background: #8fb14b;
    color: #fff;
}

section.sub_banner2 > h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 200;
}

section.sub_banner2 > h2 span {
    font-weight: bold;
}

section.gallury ul {
    width: 100%;
    height: 1000px;
}

section.gallury ul > li {
    width: 100%;
    height: 33%;
    margin-bottom: 0.5%;
}

section.gallury ul > li.li1 > ul {
    width: 100%;
}

section.gallury ul > li.li1 > ul > li {
    width: 49.75%;
    float: left;
    margin-right: 0.5%;
    overflow: hidden;
}

section.gallury ul > li.li1 > ul > li:last-child {
    margin-right: 0;
}

section.gallury ul > li.li1 > ul > li > img {
    width: 100%;
    transform: scale(1);
}

section.gallury ul > li.li1 > ul > li:hover img {
    transform: scale(1.1);
    transition: all 0.6s;
}

section.gallury ul > li.li2 > ul {
    width: 100%;
    height: 100%;
}

section.gallury ul > li.li2 > ul > li {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 0.5%;
    overflow: hidden;
}

section.gallury ul > li.li2 > ul > li:last-child {
    margin-right: 0;
}

section.gallury ul > li.li2 > ul > li > img {
    width: 120%;
    transform: scale(1);
}

section.gallury ul > li.li2 > ul > li:hover > img {
    transform: scale(1.1);
    transition: all 0.6s;
}

section.gallury ul > li.li2 > ul > li > ul {
    width: 100%;
    height: 100%;
}

section.gallury ul > li.li2 > ul > li > ul.ul > li {
    width: 100%;
    height: 49.5%;
    margin-bottom: 1%;
    overflow: hidden;
}

section.gallury ul > li.li2 > ul > li > ul > li:last-child {
    margin-bottom: 0;
}

section.gallury ul > li.li2 > ul > li > ul > li > img {
    width: 100%;
    transform: scale(1);
}

section.gallury ul > li.li2 > ul > li > ul > li:hover > img {
    transform: scale(1.1);
    transition: all 0.6s;
}

section.gallury ul > li.li3 {
    margin-bottom: 0;
}

section.gallury ul > li.li3 > ul {
    width: 100%;
    height: 100%;
}

section.gallury ul > li.li3 > ul > li {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 0.5%;
    overflow: hidden;
}

section.gallury ul > li.li3 > ul > li:last-child {
    margin-right: 0;
}

section.gallury ul > li.li3 > ul > li > ul {
    width: 100%;
    height: 100%;
}

section.gallury ul > li.li3 > ul > li > ul.ul > li {
    width: 100%;
    height: 49.5%;
    margin-bottom: 1%;
    overflow: hidden;
}

section.gallury ul > li.li3 > ul > li > ul > li:last-child {
    margin-bottom: 0;
}

section.gallury ul > li.li3 > ul > li > ul > li > img {
    width: 100%;
    transform: scale(1);
}

section.gallury ul > li.li3 > ul > li > ul > li:hover > img {
    transform: scale(1.1);
    transition: all 0.6s;
}

section.gallury ul > li.li3 > ul > li > img {
    width: 120%;
    transform: scale(1);
}

section.gallury ul > li.li3 > ul > li:hover > img {
    transform: scale(1.1);
    transition: all 0.6s;
}







section.sub_gallury ul {
    width: 98%;
    margin: 0 auto;
    margin-top: 60px;
}

section.sub_gallury ul li {
    width: 23%;
    float: left;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: 2%;
}

section.sub_gallury ul li:nth-child(4n) {
    margin-right: 0;
}

section.sub_gallury ul li a{
    width: 100%;
}
section.sub_gallury ul li a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

section.sub_gallury ul li p {
    width: 100%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: bold;
}

.cate {
    background: #f8f8f8;
}

.cate ul {
    width: 98%;
    height: 227px;
    margin: 0 auto;
}

.cate ul li {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
}

.cate ul li .img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.cate ul li .img img {
    width: 100%;
    height: 100%;
}

.cate ul li .txt {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 40px 20px;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transform-origin: center center;
}

.cate ul li:hover .txt {
    transform: scale(1);
    transition: all 0.6s;
}

.cate ul li .txt h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cate ul li .txt p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

.cate ul li .txt a {
    display: block;
    width: 100px;
    margin: 0 auto;
    height: 36px;
    line-height: 32px;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}


.contact_con {
    width: 96%;
    margin: 0 auto;
}

.contact_con .contact_con1 {
    width: 100%;
    height: 240px;
}

.contact_con_txt {
    width: 100%;
    background: #f8f8f8;
    padding: 30px 20px;
    box-sizing: border-box;
}

.contact_con_txt .contact_con_txt_l {
    float: left;
}

.contact_con_txt .contact_con_txt_l i {
    font-size: 54px;
}

.contact_con_txt .contact_con_txt_r {
    float: left;
    margin-left: 10px;
}

.contact_con_txt .contact_con_txt_r h4 {
    font-size: 20px;
}

.contact_con_txt .contact_con_txt_r p {
    font-size: 16px;
}

.sub_company .img {
    width: 98%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom:60px;
}

.sub_company .img img {
    width: 100%;
}

.sub_company .con {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    text-align:center;
}

.sub_company .con p {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight:300;
}

.contact h2 {
    margin-bottom: 30px;
}

.history ul{
    width: 98%;
    margin: 0 auto;
    margin-top: 60px;
}
.history ul li{
    width: 32%;
    height: 300px;
    float: left;
    margin-right: 2%;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.history ul li:last-child{
    margin-right: 0;
}
.history ul li:first-child{
    box-shadow: none;
    background: #778855;
    font-size: 60px;
    line-height: 1.4;
    color: #fff;
    font-weight: 100;
    padding: 20px;
    box-sizing: border-box;
}
.history ul li .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background: #778855;
    margin-bottom: 20px;
}
.history ul li .icon i{
    line-height: 50px;
    font-size: 24px;
    color: #fff;
}
.history ul li h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.history ul li p{
    width: 30px;
    height: 4px;
    background: #778855;
    margin-bottom: 20px;
}
.history ul li span{
    font-size: 16px;
}

.sub_master ul.cate{
    width: 98%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 60px;
}
.sub_master ul.cate li{
    width: 33.3333%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    float: left;
    background: #f8f8f8;
    cursor: pointer;
}
.sub_master ul.cate li.on{
    background: #ff7a40;
    color: #fff;
}
.sub_master ul.con{
    width: 98%;
    margin: 0 auto;
}
.sub_master ul.con>li{
    width: 100%;
    display: none;
}
.sub_master ul.con>li.on{
    display: block;
}
.sub_master ul.con>li>img{
    display: block;
    width: 70%;
    margin: 0 auto;
}
.sub_master ul.con>li>ul{
    width: 98%;
}
.sub_master ul.con>li>ul>li{
    width: 25%;
    float: left;
    padding: 30px 0;
    text-align: center;
    box-sizing: border-box;
}

.sub_master ul.con>li>ul>li img {
    width: 80%;
}

.sub_master ul.con>li>ul>li:last-child{
    border-bottom: 0;
}
.sub_master ul.con>li>ul>li h3{
    font-size: 20px;
    color: #ff7a40;
    margin-bottom: 8px;
}
.sub_master ul.con>li>ul>li p{
    font-size: 14px;
}
.sub_master ul.con>li>ul>li:first-child p{
    margin-bottom: 20px;
}


.program_table {
    width: 100%;
    margin-top:40px;
    margin-bottom: 20px;
}

.program_table caption {
    color: #1b4acc;
    font-size: 28px;
    font-weight: 500;
}
.program_table caption.pr_title {
    color: #333;
    font-size: 28px;
}
.program_table tr th {
    font-size: 20px;    
    text-align: center;
    background: #ec924d;
    color:#fff;
    font-weight: 500;
    
}

.program_table thead tr td{font-size:18px; font-weight:400;}
.program_table tbody tr td{padding:20px; font-size:14px; font-weight:300; color:#575757; border:1px solid #d2d2d2;}

.program_table tr td {
    font-size: 20px;
    text-align: center;
    border: 1px solid #cecece;
    word-break:keep-all;
    font-weight:300;
}

.program_table .pr_etc {
    color: #0792e3;
    text-align: left;
}

.program_txt{margin-top:50px; }
.program_txt h1{font-size:20px; margin-bottom:10px;}
.product .p2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product .p2 > .p_txt {
    width: 100%;
    padding-left: 20px;
    height: 40px;
    line-height: 38px;
    border-left: 3px solid #d8908e;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    background: #f4f4f4;
    margin-bottom: 10px;
}
.product .p2 > .p_txt p{
    font-weight:500;
}

.product .p2 span {
    font-size: 18px;
    display: block;
    font-weight:300;
}

.books {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    display:inline-block;
}

.books .book2 {
    width: 24%;
    height: 400px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border:1px solid #eee;
}

.books .book2:nth-child(4n) {
    margin-right: 0;
}
.books .book2 .img {
    height: 260px;
}
.books .book2 img {
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: contain;
}

.books .book2 h3 {
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    font-weight:300;
}

.books .book2 h3 span {
    color: #57932F;
    border-bottom: 4px solid #57932F;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
}

.books .book2 > span {
    font-size: 16px;
}

section.gallury ul {
    width: 100%;
    margin-top: 40px;
}

section.gallury ul li {
    width: 25%;
    height: 180px;
    float: left;
    overflow: hidden;
}

section.gallury ul li img {
    width: 100%;
}
.sub_gallury ul{
    width: 98%;
    margin: 0 auto;
    margin-top: 40px;
}
.sub_gallury ul li{
    width: 23%;
    float: left;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: 2%;
}

.sub_gallury ul li:nth-child(4n) {
    margin-right: 0;
}
.sub_gallury ul li a{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.sub_gallury ul li a img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sub_gallury ul li p{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 0 10px;
    box-sizing: border-box;
}


.sub_banner02{width:100%; margin-top:30px;}
.sub_banner02 img{width:100%;}
.program_img{width:80%; margin:0 auto; padding:30px 0;}
.program_img img{width:100%;}


.contact_con {
    width: 96%;
    margin: 20px auto;
}

.contact_con .contact_con1 {
    width: 100%;
    height: 240px;
}

.contact_con_txt {
    width: 100%;
    background: #f8f8f8;
    padding: 30px 20px;
    box-sizing: border-box;
}

.contact_con_txt .contact_con_txt_l {
    float: left;
}

.contact_con_txt .contact_con_txt_l i {
    font-size: 54px;
}

.contact_con_txt .contact_con_txt_r {
    float: left;
    margin-left: 10px;
}

.contact_con_txt .contact_con_txt_r h4 {
    font-size: 20px;
}

.contact_con_txt .contact_con_txt_r p {
    font-size: 16px;
}

.m_contact{width:96%; margin:0 auto;}
.m_contact ul{}
.m_contact li{width:96%; background-color:#f8f8f8; padding:15px; margin-bottom:5px; text-align:center}
.m_contact li p{font-size:18px; font-weight:400; color:#d8908e; margin-bottom:5px;}


















@media screen and (min-width: 1240px) {
    nav {
        display: block;
    }

    .nav2 {
        display: none;
    }
    
       .program ul {
     width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.program ul li {
    width : 25%;
    float: left;
    text-align: center;
    color: #000;
    padding: 5px 5px;
    box-sizing: border-box;
}

.program ul li .img {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}



















}
@media screen and (max-width: 1189px){
    .banner02_txt h1{font-size:18px;}
    .banner02_txt p{font-size:16px;}
    
}

@media screen and (min-width: 960px) and (max-width: 1239px) {
    .wrap {
        max-width: 960px;
    }

    nav {
        width: 70%;
        display: block;
        margin-right: 0px;
    }
    
    nav ul.gnb>li>ul.sub{
        left: 74%;
    }

    .nav2 {
        display: none;
    }
    nav>ul.gnb>li>a{font-size:12px;}
    .main_banner_txt {
        margin-right: 0;
        right: 0;
    }

    section.gallury ul > li.li2 > ul > li > img {
        width: 150%;
    }

    section.gallury ul > li.li3 > ul > li > img {
        width: 150%;
    }

    .cate ul {
        height: 200px;
    }

    .cate ul li .txt {
        padding: 24px 10px;
        box-sizing: border-box;
    }
    section.sub_gallury ul li .img{
        height: 160px;
    }
    
       .program ul {
     width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.program ul li {
    width : 25%;
    float: left;
    text-align: center;
    color: #000;
    padding: 5px 5px;
    box-sizing: border-box;
}

.program ul li .img {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}
    .ctag_con{width:24%;}
    .catg_txt p{font-size:12px;}


    .p_box_txt02 p{padding:5px;}

    .branch_box .branch_con{width:14%;}
    .branch_txt h2{font-size:18px;}
    .books .book2 {
        height: 380px;
    }
    .map_f{width:96%;}
    .banner02_txt h1{font-size:16px;}
    .banner02_txt p{font-size:14px;}
    







}

@media screen and (min-width: 786px) and (max-width: 959px) {
        .main_banner01{width:100%; display:block;}
        .main_banner01 img{}
        .main_banner02{width:100%; display:block;}
        .main_banner02 .banner02_img{height:400px; background-position:right;}
        .banner02_txt{padding:30px 0;}
        .wrap {
            max-width: 786px;
        }

        header h1 {
            width: 100%;
            float: inherit;
            text-align: center;
        }

        nav {
            display: none;
            float: inherit;
        }

        .nav2 {
            display: block;
        }


        .bx-wrapper .bx-next {
            right: 10px;
        }

        .bx-wrapper .bx-prev {
            left: 10px;
        }

        .bx-wrapper .bx-pager {
            bottom: 10px;
        }

        ul.main_banner {
            height: 500px;
        }

        .bx-viewport {
            height: 500px !important;
        }

        .company {
            padding: 100px 20px;
        }

        .cate ul {
            height: 160px;
        }

        .cate ul li .txt {
            transform: scale(1);
            padding: 34px 20px;
        }

        .cate ul li .txt h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .cate ul li .txt p {
            display: none;
        }

        section.gallury ul > li.li1 > ul > li > img {
            width: 130%;
        }

        section.gallury ul > li.li2 > ul > li > img,
        section.gallury ul > li.li3 > ul > li > img {
            width: 200%;
        }
        section.sub_gallury ul li .img{
            height: 130px;
        }

        .history ul li:first-child{
            font-size: 50px;
        }

        .history ul li{
            padding:30px;
            box-sizing: border-box;
        }

           .program ul {
         width: 98%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .program ul li {
        width : 50%;
        float: left;
        text-align: center;
        color: #000;
        padding: 5px 5px;
        box-sizing: border-box;
    }

    .program ul li .img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
    }

    section.sub_gallury ul li a img {
        height: 200px;
    }
   .h2_txt img{width:20%;}
   .h2_txt h2{font-size:20px;}
    .sub_company .con p{font-size:14px;}
    .product_con ul li{width:19.7777%;}
    .box_txt p{font-size:16px;}
    .content_02 ul li{width:30%;}
    .ctag_con{width:24%;}
    .catg_txt p{font-size:12px;}
    .con_02 p{font-size:16px;}
    .p_box_txt02 p{padding:2px; font-size:16px;}
    .branch_box .branch_con{width:17%;}
    .branch_txt h2{font-size:20px;}
    .branch_txt img{width:100%;}
    
     .program_table caption.pr_title {
        font-size: 24px;
    }

    .program_table tr th {
        font-size: 18px;
    }

    .program_table tr td {
        font-size: 18px;
    }

    .sub_book ul li {
        margin-right: 2%;
        width: 23%;
        height: 350px;
    }



    .books .book2 {
        margin-right:2%;
        width:23%;
        height:350px;
    }
    .books .book2 .img{height:200px;}
    .books .book2 img{height:200px;}
    .books .book2 h3{font-size:14px;}
    .program_img{width:100%;}
    .map_f{width:96%;}











}

@media screen and (min-width: 501px) and (max-width: 785px) {
    .main_banner01{width:100%; display:block;}
    .main_banner01 img{}
    .main_banner02{width:100%; display:block;}
    .main_banner02 .banner02_img{height:400px; background-position:right;}
    .banner02_txt{padding:30px 0;}
    .banner02_txt h1{font-size:20px;}
    .stick{width:30px;}
    .banner02_txt p{font-size:16px;}
    .wrap {
        max-width: 785px;
    }

    header h1 {
        width: 100%;
        float: inherit;
        text-align: center;
    }

    nav {
        display: none;
        float: inherit;
    }

    .nav2 {
        display: block;
    }

    .nav2 ul.m_gnb li a {
        font-size: 14px;
        height: 40px;
        line-height: 36px;
    }

    section.sub_banner2 > h2 {
        font-size: 18px;
    }

    footer h3 {
        font-size: 20px;
    }

    .h2_txt h2 {
        font-size: 20px;
    }

    .h2_txt > span {
        font-size: 14px;
    }

    section,
    .section {
        padding: 40px 0;
    }

    section.sub_banner {
        padding: 20px;
    }

    .main_banner_txt {
        padding: 30px 20px;
        box-sizing: border-box;
    }

    .bx-wrapper .bx-next {
        right: 10px;
    }

    .bx-wrapper .bx-prev {
        left: 10px;
    }

    .bx-wrapper .bx-pager {
        bottom: 10px;
    }

    ul.main_banner {
        height: 250px;
    }

    ul.main_banner li {
        height: 250px;
    }

    ul.main_banner li img {
        height: 250px;
    }

    .bx-viewport {
        height: 250px !important;
    }

    .main_banner_txt h3 {
        font-size: 28px;
    }

    .main_banner_txt h3 span {
        font-weight: bold;
        color: #ff7a40;
    }

    .main_banner_txt p.p1 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .main_banner_txt p.p2 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .main_banner_txt p.p3 {
        font-size: 20px;
    }

    .main_banner_txt p.p3 span {
        font-size: 24px;
    }

    .company {
        padding: 60px 20px;
    }

    .company .con {
        margin-top: 50px;
    }

    .company .con p {
        font-size: 16px;
    }

    .company .con h3 {
        font-size: 18px;
    }

    .company .con span {
        font-size: 16px;
    }

    .product .img img {
        height: 200px;
    }

    .product ul li h3 {
        font-size: 20px;
    }

    .product ul li p {
        width: 84px;
    }

    .product ul li > span {
        font-size: 14px;
    }

    section.sub_gallury ul li {
        width: 48%;
    }

    section.sub_gallury ul li:nth-child(2n) {
        margin-right: 0;
    }

    .cate ul {
        height: 320px;
    }

    .cate ul li {
        width: 50%;
        height: 50%;
    }

    .cate ul li .txt {
        transform: scale(1);
        padding: 34px 20px;
    }

    .cate ul li .txt h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cate ul li .txt p {
        display: none;
    }

    section.gallury ul {
        height: 400px;
    }

    section.gallury ul > li.li2 > ul > li > img,
    section.gallury ul > li.li3 > ul > li > img {
        width: 130%;
    }
    section.sub_gallury ul li .img{
        height: 160px;
    }
    section.sub_gallury ul{
        margin-top: 30px;
    }
    .history ul{
        margin-top:30px;
    }
    .history ul li{
        height : 150px;
        padding : 10px;
        box-sizing: border-box;
    }
    .history ul li:first-child{
        font-size:20px;
        padding : 30px;
    }
    
    .history ul li .icon{
        width : 30px;
        height : 30px;
        margin-bottom: 10px;
    }
    
    .history ul li .icon i {
        font-size:16px;
        line-height: 30px;
    }
    
    .history ul li h3{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .history ul li p {
        margin-bottom: 4px;
    }
    .history ul li span {
        font-size: 12px;
    }
    
    .sub_master ul.con>li>ul>li {
        width: 50%;
    }
    
       .program ul {
     width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.program ul li {
    width : 50%;
    float: left;
    text-align: center;
    color: #000;
    padding: 5px 5px;
    box-sizing: border-box;
}

.program ul li .img {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}
    .product_con ul li{width:33%; margin-top:20px;}
    .last_ctag{width:95%; padding:40px 0; margin:0 auto;}
    .ctag_con{width:46%; padding:12px 12px; margin-left:0;}
    .catg_txt p{font-size:16px;}
    .con_02 p{font-size:18px;}
    .p_box_txt02{padding:5px 0;}
    .p_box_txt02 p{padding:2px; font-size:12px;}
    .branch_box{padding:20px 0;}
    .branch_box .branch_con{width:16%;}
    .branch_txt h2{font-size:14px;}
    .branch_txt img{width:100%;}
     .program_table caption.pr_title {
        font-size: 20px;
    }

    .program_table tr th, .program_table tr td {
        font-size: 16px;
    }
    
    .books .book2 {
        width:48%;
        height:400px;
        margin:7px 7px;
        margin-right:0;
        margin-bottom:0;
    }
    .books .book2 .img{height:244px;}
    .books .book2 img{height:231px;}
    .program_img{width:100%;}
    .map_f{width:96%;}
    .program_box{width:100%; overflow-x:auto; white-space:nowrap;}
    .program_table{width:auto;}

    



}
@media screen and (max-width: 639px){
    .branch_box .branch_con{width:22%;}
    
}
@media screen and (max-width: 629px){
    .ctag_con{padding:0 8px;}
    .map_f{width:96%;}
}

@media screen and (max-width: 500px) {
    .main_banner01{width:100%; display:block;}
    .main_banner01 img{}
    .main_banner02{width:100%; display:block;}
    .main_banner02 .banner02_img{height:400px; background-position:center;}
    .banner02_txt{padding:30px 0;}
    .banner02_txt h1{font-size:16px;}
    .stick{width:24px;}
    .banner02_txt p{font-size:14px;}
    .wrap {
        max-width: 785px;
    }
    header{
        height: 60px;
    }

    header h1 {
        width: 100%;
        float: inherit;
        text-align: center;
    }
    header h1 a{
        font-size: 24px;
        line-height: 60px;
    }
    header h1 a img{width:45%;}

    nav {
        display: none;
        float: inherit;
    }

    .nav2 {
        display: block;
    }

    .nav2 ul.m_gnb li a {
        font-size: 12px;
        height: 40px;
        line-height: 36px;
    }

    section.sub_banner2 > h2 {
        font-size: 14px;
    }

    footer h3 {
        font-size: 20px;
    }

    .h2_txt h2 {
        font-size: 20px;
    }

    .h2_txt > span {
        font-size: 14px;
    }
    .h2_txt img{width:30%;}

    section,
    .section {
        padding: 40px 0;
    }

    section.sub_banner {
        padding: 20px;
    }

     .main_banner_txt {
        padding: 30px 20px;
        box-sizing: border-box;
    }

    .bx-wrapper .bx-next {
        right: 10px;
    }

    .bx-wrapper .bx-prev {
        left: 10px;
    }

    .bx-wrapper .bx-pager {
        bottom: 10px;
    }

    ul.main_banner {
        height: 200px;
    }

    ul.main_banner li {
        height: 200px;
    }

    ul.main_banner li img {
        height: 200px;
    }

    .bx-viewport {
        height: 200px !important;
    }

    .main_banner_txt h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .main_banner_txt h3 span {
        font-weight: bold;
        color: #ff7a40;
    }

    .main_banner_txt p.p1 {
        display: none;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main_banner_txt p.p2 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .main_banner_txt p.p3 {
        font-size: 16px;
    }

    .main_banner_txt p.p3 span {
        font-size: 20px;
    }

    .company {
        padding: 60px 20px;
    }
    .company .wrap{
        padding: 0;
    }

    .company .con {
        margin-top: 50px;
    }

    .company .con p {
        font-size: 16px;
    }

    .company .con h3 {
        font-size: 16px;
    }

    .company .con span {
        font-size: 14px;
    }
    .sub_banner .h2_txt h2{
        font-size: 16px;
    }
    .sub_banner .wrap{
        padding: 0;
    }

    .product ul li h3 {
        font-size: 16px;
    }

    .product ul li > span {
        font-size: 14px;
    }

    section.sub_gallury ul li {
        width: 48%;
    }

    section.sub_gallury ul li:nth-child(2n) {
        margin-right: 0;
    }

    section.sub_gallury ul li a img {
        height: 200px;
    }

    .cate ul {
        height: 320px;
    }

    .cate ul li {
        width: 50%;
        height: 50%;
    }

    .cate ul li .txt {
        transform: scale(1);
        padding: 34px 20px;
    }

    .cate ul li .txt h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cate ul li .txt p {
        display: none;
    }

    section.gallury ul {
        height: 400px;
    }
    section.gallury ul > li.li1 > ul > li > img{
        width: 150%;
    }
    section.gallury ul > li.li2 > ul > li > ul > li > img{
        width: 150%;
    }

    section.gallury ul > li.li2 > ul > li > img,
    section.gallury ul > li.li3 > ul > li > img {
        width: 210%;
    }
    section.sub_gallury ul{
        margin-top: 30px;
    }
    section.sub_gallury ul li .img{
        height: 90px;
    }
    
    .history ul{
        margin-top:30px;
    }
    .history ul li{
        height : 160px;
        padding : 10px;
        box-sizing: border-box;
    }
    .history ul li:first-child{
        font-size:16px;
        padding : 10px;
        box-sizing: border-box;
    }
    
    .history ul li .icon{
        width : 30px;
        height : 30px;
        margin-bottom: 10px;
    }
    
    .history ul li .icon i {
        font-size:16px;
        line-height: 30px;
    }
    
    .history ul li h3{
        font-size: 12px;
        margin-bottom: 4px;
    }
    .history ul li p {
        margin-bottom: 4px;
    }
    .history ul li span {
        font-size: 12px;
    }
    
     .sub_master ul.con>li>ul>li {
        width: 50%;
    }
    
    .program ul {
     width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.program ul li {
    width : 50%;
    float: left;
    text-align: center;
    color: #000;
    padding: 5px 5px;
    box-sizing: border-box;
}

.program ul li .img {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}
    .product_con ul{text-align:center;}
    .product_con ul li{width:31%;}
    .product_con ul li:nth-of-type(4){margin-top:20px;}
    .icon{width:100px; height:100px;}
    .icon01{width:100px; height:100px;}
    .icon02{width:100px; height:100px;}
    .icon03{width:100px; height:100px;}
    .icon04{width:100px; height:100px;}
    .box_txt b{font-size:16px;}
    .box_txt p{font-size:14px;}
    .about_txt p{font-size:12px;}
    .about_txt h4{font-size:16px;}
    .about_txt2{font-size:12px;}
    .last_ctag{padding:40px 0;}
    .ctag_con{width:48%; padding:0; margin-bottom:15px;}
    .con_02 p{font-size:16px;}
    .partner_con{padding:20px 0;}
    .p_box .p_box_img{width:100%; float:none;}
    .p_box_txt{width:100%; float:none;}
    .p_box_txt02{padding:5px 0;}
    .p_box_txt02 p{font-size:16px; padding:5px;}
    .branch_box{padding:20px 0;}
    .branch_box .branch_con{width:19%; margin-left:5px; margin-bottom:5px;}
    .branch_txt h2{font-size:11px;}
    .branch_txt img{width:100%;}
    .h2_txt h2{font-size:18px;}
    .sub_company .con p{font-size:16px; display:inline;}
    
    .program_table caption.pr_title {
        font-size: 20px;
    }

    .program_table tr th, .program_table tr td {
        font-size: 16px;
    }
    
    .books .book2 {
        width:47%;
        height:400px;
        margin:6px 9px;
        margin-right:0;
        margin-bottom:0;
    }
    .books .book2 .img{height:210px;}
    .books .book2 img{height:231px;}
    .product .p2 > .p_txt{padding-left:8px;}
    .product .p2 > .p_txt p{font-size:18px;}
    .product .p2 span{font-size:14px;}
    .program_img{width:100%; padding:15px 0;}
    .map_f{width:96%;}
    .program_box{width:100%; overflow-x:auto; white-space:nowrap;}
    .program_table{width:auto;}
    .nav2 ul.m_gnb li a{font-size:8px;}
    .sub_company .img{margin-bottom:40px;}

    
    
    









}
